@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background-color: #F1F5F8;
}

.bg-white{
  background-color: white;
}

.results section{
  padding: 40px 40px;
  background-color: white;
  margin-bottom: 60px;
  border-radius: 4px;
  border: 1px solid #ededed;

}

.rounded{
  border-radius: 20px;
}

.full-height{
  height:100vh;
  background-image: url("bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -60px;
  width: 100%;

}

.well-ef{
  background-color: rgba(255,255,255,0.8);
  color: black;
}

.well-ticket{
  border-bottom: 1px solid #ededed;
  padding: 40px 20px;
}

.my-label{
  color: lightgrey;
  font-weight: bold;
}

.lead{
  font-size: 28px;
}

.home{
  color:white;
}

.btn-ef{
  border-radius: 20px;
  font-weight: bold;

  color: white;
  border: 0px solid white;


  background: rgba(146,125,243,1);
  background: -moz-linear-gradient(left, rgba(146,125,243,1) 0%, rgba(65,207,212,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(146,125,243,1)), color-stop(100%, rgba(65,207,212,1)));
  background: -webkit-linear-gradient(left, rgba(146,125,243,1) 0%, rgba(65,207,212,1) 100%);
  background: -o-linear-gradient(left, rgba(146,125,243,1) 0%, rgba(65,207,212,1) 100%);
  background: -ms-linear-gradient(left, rgba(146,125,243,1) 0%, rgba(65,207,212,1) 100%);
  background: linear-gradient(to right, rgba(146,125,243,1) 0%, rgba(65,207,212,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#927df3', endColorstr='#41cfd4', GradientType=1 );


}

.chartDiv{
  height: 400px;
  max-height: 400px;
}

nav.my-nav{
  background-color: white;
  height: 60px;
  border-bottom: 1px solid #ededed;
  color: rgba(146,125,243,1);
  padding: 0px 30px;
}

.results-info{
  padding-top: 20px;
  padding-bottom: 10px;
}

/*TODO: refact*/
.results-info .col-xs-10{
  padding-left: 0px;
}

.results-info .col-xs-2{
  padding-right: 0px;
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;

  border-top: 0.5em solid rgba(65,207,212,0.2);
  border-right: 0.5em solid rgba(65,207,212,0.2);
  border-bottom: 0.5em solid rgba(65,207,212,0.2);
  border-left: 0.5em solid rgba(65,207,212,1);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.7s infinite linear;
  animation: load8 0.7s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.container-loading{
    min-height: 100vh;
    margin-bottom: -60px;
}

footer{
  background-color: #444;
  color: white;
  padding: 20px 20px;
  background: rgba(146,125,243,1);
  background: -moz-linear-gradient(left, rgba(146,125,243,1) 0%, rgba(65,207,212,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(146,125,243,1)), color-stop(100%, rgba(65,207,212,1)));
  background: -webkit-linear-gradient(left, rgba(146,125,243,1) 0%, rgba(65,207,212,1) 100%);
  background: -o-linear-gradient(left, rgba(146,125,243,1) 0%, rgba(65,207,212,1) 100%);
  background: -ms-linear-gradient(left, rgba(146,125,243,1) 0%, rgba(65,207,212,1) 100%);
  background: linear-gradient(to right, rgba(146,125,243,1) 0%, rgba(65,207,212,1) 100%);
}

.logoSkyscanner{
  height: 40px;
}

.link-footer {
    display: inline-block;
    vertical-align: top;
    padding-top:12px;
}

.fix-link-footer {
    padding-top: 0px;
}
.left-10{
  margin-left: 10px;
}
